__pycache__/
*.py[cod]
*.egg-info/
*.log

venv/

.env

.cache/

app/data/corpus/ph_raw_corpus.json
app/data/corpus/ph_enhanced_corpus.json
app/data/scrapes/ph_scrape.json

# app/data/rag/indexes/*.faiss
# app/data/rag/meta/*.json